$whiteColor: #fff;
$whiteColorWithOpacity: #ffffff77;
$blackColor: #000;
$redColor: #c00c0c;
$blueColor: #1616ac;
$purpleColor: #e453d8;
$yellowColor: rgb(245, 210, 14);
$greenColor: #009432;
$silverColor: #d1d4cf;
$orangeColor: #F97F51; 
$pinkColor: rgb(209, 9, 92);